.actions i {
    font-size: 19px;
    margin-right: 15px;
    cursor: pointer;
    color: var(--default);
    font-weight: bold;
}

.actions i.ni-check-bold {
    font-size: 25px;
}

.actions i.ni-fat-remove {
    font-size: 30px;
    position: relative;
    top: 5px;
}

.thead-light tr th {
    font-weight: bold;
    font-size: 14px;
}

.card-header .actions .btn-primary i {
    color: white;
}

.card-header .actions .btn-primary {
    font-size: 14px;
}

.banner-table-image{
    max-width: 200px;
    max-height: 100px;
    height: auto;
    width: auto;
}

.uploaded-image {
    height: 100%;
    width: 100%;
}


.page-item.active .page-link {
    background-color: var(--default);
}

.notification-badge {
    position: relative;
    top: -16px;
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    letter-spacing: -3px
}


.remove-variation {
    float: right;
    color: var(--primary);
    font-size: 24px;
    cursor: pointer;
}

#product-variation-tbody tr .card {
    margin-bottom:0px !important;
}

.remove-variation-row {
    font-size: 45px;
    cursor: pointer;
}

.container-chat p
{
    font-size: 14px;
    font-weight: 500;
}

.container-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  .container-chat::after {
    content: "";
    clear: both;
    display: table;
  }

  .container-chat img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  .container-chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }

  .time-right {
    float: right;
    color: #aaa;
    font-size: 10px;
  }

  .time-left {
    float: left;
    color: #999;
    font-size: 10px;
  }


  .chat-model-body{
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y proximity;
  }
