.actions i {
    font-size: 19px;
    margin-right: 15px;
    cursor: pointer;
    color: #5e72e4;
    font-weight: bold;
}

.actions i.ni-check-bold {
    font-size: 25px;
}

.actions i.ni-fat-remove {
    font-size: 30px;
}

.thead-light tr th {
    font-weight: bold;
    font-size: 14px;
}
